/* IE FIX */
/* IE10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body.front #block-system-main .view-jrc-news .view-content .views-row,
  #priorities .wrapper {
    flex: 1 47%;
  }
}

/* Because IOS does not handle flexbox well */

@media screen and (max-width: 440px) {
  .field-items.image-gallery .field-item,
  .field-items.image-gallery,
  .image-gallery-embedded,
  .image-gallery-embedded .field-item {
    display: block;
  }
}

/* IE rule since height is not correct */
/* Used in pages "contact/form" and "about/ihip*" */
@media screen\0 {
  form#contact input {
    height: 2.2em;
  }
}
.view-mode-apache_solr_mode img.file-icon {
  width: auto;
}

/* Anchors hack */
.region-content a[name]:not([href]) {
  margin-top: -55px;
  padding-top: 55px;
}

.advanced-help-link {
  float: left;
}
